.App {
  text-align: center;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1566228015668-4c45dbc4e2f5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


}


@media only screen and (max-width: 1200px) {
  .App {

    height: 100%;

  
  
  }
}
